<!DOCTYPE html>
<html>
  <head>
    <title>Create new projects</title>
    <%- include('../../imports'); -%>
    <link rel="shortcut icon" href="../../../public/images/linguagem_icon.png">
  </head>
  <body>
    <header>
      <%- include('../../navbar'); -%>
    </header>
    
  <div class = "container">
        <div class="row">
          <div class="col-md-12">
              <h1>New Project</h1>
          </div>
        </div>

        <div class="col-md-12">
          <form action = "create" method="POST" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="projectName">Name</label>
                <input name="name" type="text" class="form-control is-valid" id="projectName" placeholder="Project name" required>
              </div>
            </div>
  
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="projectImage">Image</label>
                <input name="image" type="file" class="form-control is-valid" id="projectImage" placeholder="Project image" required>
              </div>
            </div>
      
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="projectDescription">Description</label>
                <textarea name="description" type="text" class="form-control is-valid" id="projectDescription" placeholder="Project description" required></textarea>
              </div>
            </div>
  
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="projectSubject">Subject</label>
                <textarea name="subject" type="text" class="form-control is-valid" id="projectSubject" placeholder="Project subject" required></textarea>
              </div>
            </div>
    
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck3" required>
                <label class="form-check-label" for="invalidCheck3">
                  Agree to terms and conditions
                </label>
              </div>
            </div>
            <button class="btn btn-dark btn-outline-info" type="submit">Save the project</button>
          </form>
        </div>
  </div>
    <footer>
        <%- include('../../footer'); -%>
    </footer>
  </body>
</html>