<!DOCTYPE html>
<html>
  <head>
    <title>Creater new testimonials</title>
    <%- include('../../imports'); -%>
    <link rel="shortcut icon" href="../../../public/images/linguagem_prog.png">
  </head>
  <body>
    <header>
      <%- include('../../navbar'); -%>
    </header>
    
    <div class = "container">
        <div class="row">
          <div class="col-md-12">
              <h1>New Testimony</h1>
          </div>
        </div>

        <div class="col-md-12">
          <form action = "create" method="POST" >
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="testimonialsName">Name</label>
                <input name="name" type="text" class="form-control is-valid" id="testimonialsName" placeholder="Type your name" required>
              </div>
            </div>
  
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="testimonialsImage">Image</label>
                <input name="image" type="text" class="form-control is-valid" id="testimonialsImage" placeholder="Insert your image" required>
              </div>
            </div>
      
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="testimonialsCompany">Company</label>
                <textarea name="company" type="text" class="form-control is-valid" id="testimonialsCompany" placeholder="Insert your company" required></textarea>
              </div>
            </div>
  
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="testimonialsTitle">Title</label>
                <textarea name="title" type="text" class="form-control is-valid" id="testimonialsTitle" placeholder="Insert your title" required></textarea>
              </div>
            </div>
  
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="testimonialsTestimony">Testimony</label>
                <textarea name="testimony" type="text" class="form-control is-valid" id="testimonialsTestimony" placeholder="Insert your testimony" required></textarea>
              </div>
            </div>
    
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck3" required>
                <label class="form-check-label" for="invalidCheck3">
                  Agree to terms and conditions
                </label>
              </div>
            </div>
            <button class="btn btn-dark btn-outline-info" type="submit">Save the testimony</button>
          </form>
      </div>
    </div>
    <footer>
        <%- include('../../footer'); -%>
    </footer>
  </body>
</html>